*,
*::before ,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}
/*body section*/
body{
    margin:0px;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.6;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
    width: 450px;

}

h1,h2,h3,p{
    margin:0;
}
p{
    font-size: 25px;
}

h1{
    font-size: 200px;
}
h2{
    text-align: center;
    font-size: 50px;
}

section{
    padding: none;
}

/*start of nav bar*/
nav.navbar-toggler{
    margin: -8px;
    width: 100%;
    height: 65px;
    line-height: 45px;
    padding: 0px 40px;
    position:absolute;
    z-index:1;
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
    background-color: #505d61;
}

nav .logo{
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

nav .logo p{
    line-height: 25px;
    float:left;
    color: #ffff;
    text-transform: uppercase;
}

nav ul{
    float: right;
}

nav ul li{
    display: inline-block;
    list-style: none;
}
nav ul li a{
    margin-right: 4px;
    color: #fff;
    text-decoration:none;
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 32px;
}
nav ul li a:hover{
    color: #99ccff;
}

nav ul li .active{
    color: #99ccff;
}

/*end of nav bar*/

.container{
    width:85%;
    margin: 0 auto;
    max-width: 65em;
}

.split{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}
.spacing > * + *{
    margin-top: var(--spacer,2rem);

}

.btn{
    display: inline-block;
    text-decoration: none;
    padding: 0.5em 1.25em;
    
    background: var(--clr-accent, blue);
    color:var(--clr-text,white) ;
    font-weight: 700;
    text-transform:uppercase;
    font-size: 1.125em;
    border-radius: .25em;
    transition: transform 250ms ease-in-out
    opacity 250ms linear ;

}

.btn:hover,
.btn:focus{
    transform: scale(1.1);
    opacity: 0.9;
}
.primary-title{
    font-size: 6rem;
    line-height: 1 ;
    text-transform: uppercase;
}

.section-title{
text-align: center;
font-size: 3rem;
color: #17354d;
margin-bottom: 3rem;
}

.hero{
    color: white;
    text-align:center;
    padding: 15em 0; 
    background-image: url(./images/Off-White-x-Nike-Air-Force-1.png),
    radial-gradient(#444,#111);
    background-size: 100%;
    background-blend-mode:multiply;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: 'Texturina', serif; ;
}

.featured{
    background: #eee;
}

.featured__items {
    display: block;
    position: relative;
    transform: scale(.95);
    transition: transform 250ms ease-in-out;
    text-decoration: none;
    color: #333;
    text-align:center;
    line-height: 1.2;
}

span{
    display: block;
    font-weight:700 ;
    font-size: 3rem;

}
.featured__items:hover,.featured__details,.featured__details
.featured__items:focus{
    transform: scale(1);

    }

.featured__items::after{
    content:  " ";
    position: absolute;
    top: 10px;
    left:25%;
    right: auto;
    padding:58% 58% 0 0;
    border-radius: 50%;
    z-index: -1;
    background: #2193b0;
}

.featured__details{
    opacity: 0.4;
    transition: opacity 250ms;
}.featured__details:hover{
    opacity: 1;
}

.product{
    background: radial-gradient(#fd77fdbe, #9cecc7be);
    --clr-accent: #cc00cc;
    padding: 3em;
    border-radius: 1em;
    text-align: center;
    margin-bottom: 3em;
    
}

.product__title{
    font-size: 2.5rem;
    color: black;
    text-shadow:0 0 .2em rgba(#000, .2);
    line-height:1.1;
}

.product__image{
    margin: -3em 0 0 0;
    margin-left: auto;
    margin-right: auto;
}

 .product1{
    background: radial-gradient(  #66ffcc, #99ccff) ;
     padding: 3em;
     border-radius: 1em;
     text-align: center;
     margin-bottom: 3em;
 }

/*start of login form*/
 .form {
    text-align: center;
    font-size: 25px;
  }

  .forms{
      font-size: 25px;
      text-align: center;
  }

  
  input[type=text], input[type=password] {
    width: 100%;
    padding: 14px 20px;
    margin: 8px ;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }

  .container-1 {
    padding: 16px;
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  /*footer*/
  .pages{
      text-align: center;
  }

